h1 {
  font-family: "Cardo", serif;
  font-size: 200%;
  color: black;
}

p {
  font-family: "Rock Salt", cursive;
  font-family: "Quicksand", sans-serif;
  font-size: 150%;
  color: #grey;
  letter-spacing: 1.3px;
}
